<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <input type="text", placeholder="아이디"><br>
    <input type="text", placeholder="패스워드" >
</body>
</html>